<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment" id="header">
    <title>WITH PLANT</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <h1><a href="/">With Plant</a></h1>

    <nav class="links">
        <ul>
            <li><a href="#">Garden</a></li>
            <li><a href="#">Q&A</a></li>
            <li><a th:href="@{/sign-up}">sign up</a></li>
        </ul>
    </nav>
    <nav class="main">
        <ul>
            <li class="search">
                <a class="fa-search" href="#search">Search</a>
                <form id="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Search" />
                </form>
            </li>
            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
            </li>
        </ul>
    </nav>

</header>
</html>