<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content">
<!-- Wrapper -->
    <div id="wrapper" style="padding: 70px 500px 70px 500px;">
        <div id="main">
            <article class="post">
                <section>
                <form method="post" action="#">
                    <div class="row gtr-uniform">
                        <div class="col-12">
                            <input type="text" name="demo-name" id="demo-name" value="" placeholder="nickname" />
                        </div>
                        <div class="col-12">
                            <input type="email" name="demo-email" id="demo-email" value="" placeholder="email" />
                        </div>
                        <div class="col-12">
                            <input type="password" name="demo-email" value="" placeholder="password" />
                        </div>

                        <div class="col-12-xsmall">
                            <ul class="actions">
                                <li><input type="submit" value="join" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
                </section>
            </article>
        </div>
    </div>
</div>
</html>