<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
	  layout:decorator="layout/default">

<div layout:fragment="content">
 <style media="all">
	 .wpHeader {display: flex;justify-content: space-between;}
	 a.more {color: #5ba4c6;}
 </style>
<!-- Wrapper -->
<div id="wrapper">
	<!-- Menu -->
		<section id="menu">
			<!-- Search -->
				<section>
					<form class="search" method="get" action="#">
						<input type="text" name="query" placeholder="Search" />
					</form>
				</section>
			<!-- Links -->
				<section>
					<ul class="links">
						<li>
							<a href="#">
								<h3>Lorem ipsum</h3>
								<p>Feugiat tempus veroeros dolor</p>
							</a>
						</li>
						<li>
							<a href="#">
								<h3>Dolor sit amet</h3>
								<p>Sed vitae justo condimentum</p>
							</a>
						</li>
						<li>
							<a href="#">
								<h3>Feugiat veroeros</h3>
								<p>Phasellus sed ultricies mi congue</p>
							</a>
						</li>
						<li>
							<a href="#">
								<h3>Etiam sed consequat</h3>
								<p>Porta lectus amet ultricies</p>
							</a>
						</li>
					</ul>
				</section>

			<!-- Actions -->
				<section>
					<ul class="actions stacked">
						<li><a href="#" class="button large fit">Log In</a></li>
					</ul>
				</section>

		</section>



	<!-- Main -->
		<div id="main">
			<!-- Post -->
				<article class="post" id="albumList" th:each="item : ${albumList}">
					<div class="meta" id="rgstUser">
						<div class="wpHeader">
							<span class="name" id="wpRgstDate" th:text="${#temporals.format(item.rgstDate, 'yyyy-MM-dd HH:mm')}"></span>
							<div id="albumBtn">
								<span th:if="${item.isAuthUser()}" id="albumBtnSpan">
									<a th:href="@{'/album/modify/' + ${item.id}}"><i class="fas fa-pencil-alt"></i></a>
									<a th:href="@{'/album/delete/' + ${item.id}}" style="padding-left:5px" th:data><i class="fas fa-trash-alt"></i></a>
								</span>
							</div>
						</div>

						<a th:href="@{'/album/user/' + ${item.member.id}}" class="author">
							<img th:if="${!#strings.isEmpty(item.member.profileImage)}" th:src="${item.member.profileImage}" id="rgstUserImg"/>
							<img th:unless="${!#strings.isEmpty(item.member.profileImage)}" id="rgstUserImg" src="/images/avatar.jpg" alt="" />
							<span class="name" th:text="${item.member.nickname}"></span></a>
					</div>

					<div class="carousel slide" data-bs-ride="carousel" th:id="${'wpCarouse' + itemStat.index}">
						<div class="carousel-indicators" >
							<button type="button" th:if="${attStat.index == 0 }"   th:each="att : ${item.attachements}" th:data-bs-target="${'#wpCarouse' + itemStat.index}" th:data-bs-slide-to="${attStat.index}" aria-current="true" class="active"></button>
							<button type="button" th:unless="${attStat.index == 0 }" th:each="att : ${item.attachements}" th:data-bs-target="${'#wpCarouse' + itemStat.index}" th:data-bs-slide-to="${attStat.index}"></button>

						</div>
						<div class="carousel-inner">
							<div class="carousel-item" th:each="att : ${item.attachements}"th:classappend="${attStat.index == 0 } ? active">
								<img th:src="${'/image/view?path=' + att.path}" alt="" class="d-block w-100"/>
							</div>
						</div>

						<button th:if="${item.attachements.size() > 1}" class="carousel-control-prev" type="button" th:data-bs-target="${'#wpCarouse' + itemStat.index}" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button th:if="${item.attachements.size() > 1}" class="carousel-control-next" type="button" th:data-bs-target="${'#wpCarouse' + itemStat.index}" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>

					<div class="readmore" style="white-space: pre;overflow:hidden;margin: 10px 0 5px 0" th:text="${item.content}">
					</div>

					<footer>
						<ul class="stats">
							<li><a class="icon solid fa-heart" th:text="${item.likeCnt}" th:data-id="${item.id}" th:attrappend="data-bs-target=${item.id}"></a></li>
							<li><a class="icon solid fa-comment" data-bs-target="#veiwAlbumModal" data-bs-toggle="modal" th:text="${item.opnCnt}" th:data-id="${item.id}" th:attrappend="data-bs-target=${item.id}"></a></li>
						</ul>


						<!-- Comment Modal -->
						<div class="modal fade" id="veiwAlbumModal" data-refresh="true"  th:attrappend="id=${item.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen-lg-down" id="comModalDiv">
								<div class="modal-content" >
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Comment</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<div class="table-wrapper" th:fragment="comTable" id="comTable">
											<table>
												<tbody id="comTableTbody">
												<tr th:each="com : ${item.comments}" >
													<td id="comNickname" th:text="${com.member.nickname}"></td>
													<td id="comContent" th:text="${com.content}">
													</td>
													<td id="comrgstDate" th:text="${#temporals.format(com.rgstDate, 'yyyy-MM-dd HH:mm')}"></td>
													<td th:if="${com.isAuthUser()}">
														<a th:href="|javascript:updateComment('${com.id}', '${item.id}');|"><i class="fas fa-pencil-alt"></i></a>
														<a th:href="|javascript:deleteComment('${com.id}', '${com.album.id}');|" style="padding-left:5px" th:data><i class="fas fa-trash-alt"></i></a>
													</td>
												</tr>
												</tbody>
											</table>
										</div>


										<div class="col-12">
											<form>
												<div class="col-12">
													<input type="hidden" id="itemid" name="itemid" th:value="${item.id}"/>
													<div id="comArea" style="width: 88%;display: inline-grid;">
														<textarea id="comment" name="comment" rows="1"  action="#"></textarea>
													</div>
													<input sec:authorize="isAuthenticated()" type="button" class="button-sm" id="rgstBtn" onclick="writeComment(this.form);" value="등록"/>
													<input sec:authorize="!isAuthenticated()" type="button" class="button-sm" id="rgstBtn"  data-bs-toggle="modal" data-bs-target="#exampleModal" value="등록"/>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</footer>

				</article>

			<!-- Pagination -->
				<ul class="actions pagination">
					<li><a href="" class="disabled button large previous">Previous Page</a></li>
					<li><a href="#" class="button large next">Next Page</a></li>
				</ul>

		</div>

	<!-- Sidebar -->
		<section id="sidebar">

			<!-- Intro -->
				<section id="intro">
					<a href="#" class="logo"><img src="/images/plant2.png" alt="" /></a>
					<header>
						<h2><font color="#556b2f">W</font>ITH <font color="#556b2f">P</font>LANT</h2>
						<p>초록과 함께, 일상을 함께</a></p>
					</header>
				</section>

			<!-- 인기글 List -->
				<section>
					<ul class="posts">
						<li th:each="hItem : ${hotList}">
							<article>
								<header>
									<!--<span id="hContent" style="white-space: pre;overflow:hidden;" th:text="${hItem.content}"></span>-->
									<span id="wpRgstDate" style="display:block;float:none;" th:text="${#temporals.format(hItem.rgstDate, 'yyyy-MM-dd HH:mm')}"></span>
								</header>
								<a href="single.html" class="image">
									<img th:src="${'/image/view?path=' +  hItem.attachements[0].path}" alt="" />
								</a>
							</article>
						</li>

					</ul>
				</section>
		</section>
	</div>

	<script th:inline="javascript">
		$('.readmore').readmore({
			collapsedHeight: 100,
			moreLink: '<a href="#" class="more">more <i class="fas fa-sort-down"></i></a>',
			lessLink: '<a href="#" class="more">close <i class="fas fa-sort-up"></i></i></a>'
		});


		function drawComment(array, itemid) {
			var commentsHtml = "";
			$(array).each(function (idx, com) {
				/*<![CDATA[*/
					var userid= [[${#authentication.principal.member.id}]];
				/*]]>*/

				var itemId = itemid;
				commentsHtml +=
						`<tr>
							<td id="comNickname">${com.member.nickname}</td>
							<td id="comContent">${com.content}</td>
							<td id="comrgstDate" >${moment(com.rgstDate).format('YYYY-MM-DD HH:mm')}</td>`;
				if(com.member.id == userid){
					commentsHtml +=
									`<td><a href="javascript:updateComment('${com.id}', '${itemId}');"><i class="fas fa-pencil-alt"></i></a>
									<a href="javascript:deleteComment('${com.id}', '${itemId}');" style="padding-left:5px"><i class="fas fa-trash-alt"></i></a>
								</td>`;
				}
				else{
					commentsHtml += '<td></td>';
				}
				commentsHtml +='</tr>';

			});
			$("#veiwAlbumModal" + itemid).find("#comTableTbody").html(commentsHtml);

		}

		function writeComment(e){
			const comment = e.elements.comment.value;
			const itemid = e.elements.itemid.value;

			console.log(comment);
			console.log(itemid);
			$.ajax({
				url: '/comment/write/' + itemid,
				contentType : "application/json; charset=utf-8",
				dataType: 'text',
				data : JSON.stringify({'content' : comment, itemid : itemid}),
				type: 'POST',
				success: function onData (data) {
					console.log(JSON.parse(data));
					drawComment(JSON.parse(data), itemid);
					e.elements.comment.value='';
					//listComment(itemid);
				},
				error: function onError (error) {
					console.error(error);
				}
			});
		}

		/*
		function listComment(itemid) {
			var uri = '/comment/list/' + itemid;
			$.get(uri, function (response) {
				var commentsHtml = "";
				$(response).each(function (idx, com) {
					var itemId = itemid;
					console.log(com);
					commentsHtml +=
							`<tr>
							<td id="comNickname">${com.member.nickname}</td>
							<td id="comContent">${com.content}</td>
							<td id="comrgstDate">${com.rgstDate}</td>
							<td>
								<a href="javascript:updateComment('${com.id}', '${itemId}');"><i class="fas fa-pencil-alt"></i></a>
								<a href="javascript:deleteComment('${com.id}', '${itemId}');" style="padding-left:5px"><i class="fas fa-trash-alt"></i></a>
							</td>
						</tr>`;
				});
				$("#veiwAlbumModal" + itemid).find("#comTableTbody").html(commentsHtml);

			}, "json");
		}
		*/

		function deleteComment(commentid, itemid){
			console.log("deleteComment " + commentid);
			$.ajax({
				url: '/comment/delete/' + itemid + '/' + commentid,
				contentType : "application/json; charset=utf-8",
				data : JSON.stringify({'itemid' : itemid}),
				type: 'POST',
				success: function onData (data) {
					console.log(data);
					drawComment(data, itemid);
				},
				error: function onError (error) {
					console.error(error);
				}
			});
		}

		function updateComment(comid, itemid){
			console.log(comid);
			console.log(itemid);

			/*const comment = e.elements.comment.value;
			const itemid = e.elements.itemid.value;

			$.ajax({
				url: '/comment/update/' + itemid,
				contentType : "application/json; charset=utf-8",
				dataType: 'text',
				data : JSON.stringify({'content' : comment, itemid : itemid}),
				type: 'POST',
				success: function onData (data) {
					console.log(data);
					listComment(itemid);
				},
				error: function onError (error) {
					console.error(error);
				}
			});*/
		}
	</script>
</div>
</html>