<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content">
    <style>
        #upload-file, #upload-file2 {
            display: none;
        }
    </style>
    <div id="wrapper">
        <div id="main">
            <article class="post">
                <section>
                    <h3>GARDEN</h3>
                    <form method="post" action="#">
                        <div class="row gtr-uniform">
                            <div class="col-12">

                                <a href="#" class="button fit" id="photoSelBtn-top">
                                    <input id="upload-file" type="file">
                                    <label for="upload-file">
                                        사진선택
                                    </label>
                                </a>

                                <div id="cropped-new-profile-image" class="mt-3" align="center"></div>
                                <div class="row">
                                    <div class="col-9">
                                        <div id="new-profile-image" class="mt-3"></div>
                                    </div>
                                    <div class="col-3">
                                        <div class="mx-3 mt-3">
                                            <a href="#" class="button fit" id="photoSelBtn">
                                                <input id="upload-file2" type="file">
                                                <label for="upload-file2">
                                                    사진선택
                                                </label>
                                            </a>
                                        </div>
                                        <div class="mx-3 mt-3">
                                            <a href="#" class="button fit" id="confirm-button"><i class="fas fa-check">&nbsp;확인</i></a>
                                        </div>
                                        <!-- <div class="mx-3 mt-3">
                                             <div class="btn-group">
                                                 <a href="#" class="button fit" id="left-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top"><i class="fa fa-undo-alt"></i></a>
                                                 <a href="#" class="button fit" id="right-button"><i class="fa fa-redo-alt"></i></a>

                                             </div>
                                         </div>-->

                                    </div>
                                </div>

                            </div>
                            <div class="col-12">
                                <textarea name="demo-message" id="demo-message" placeholder="내용"
                                          rows="6"></textarea>
                            </div>
                            <div class="col-12">
                                <ul class="actions">
                                    <li><input type="submit" value="등록"/></li>
                                    <!--                                    <li><input type="reset" value="Reset"/></li>-->
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>
            </article>
        </div>
    </div>

    <script type="module" src="/node_modules/cropper/dist/cropper.js"></script>
    <link href="/node_modules/cropper/dist/cropper.css" rel="stylesheet">
    <script>
        $(function () {
            let cropper = '';
            let $photoSelBtnTop = $("#photoSelBtn-top");
            let $photoSelBtn= $("#photoSelBtn");
            let $confirmBtn = $("#confirm-button");
            let $newProfileImage = $("#new-profile-image");
            let $currentProfileImage = $("#current-profile-image");
            let $resultImage = $("#cropped-new-profile-image");
            let $profileImage = $("#profileImage");
            let $newImage = '';

            $newProfileImage.hide();
            $confirmBtn.hide();
            $photoSelBtn.hide();

            function photoSel(e) {
                if (e.target.files.length === 1) {
                    const reader = new FileReader(); // HTML5 FileReader
                    reader.onload = e => {
                        if (e.target.result) {
                            if (!e.target.result.startsWith("data:image")) {
                                alert("이미지 파일을 선택하세요.");
                                return;
                            }
                            $resultImage.hide();

                            let img = document.createElement("img");
                            img.id = 'cropped-new-profile-image';
                            img.src = e.target.result;
                            img.setAttribute('width', '100%');
                            // img.width = 250;

                            $newProfileImage.html(img);
                            $newProfileImage.show();
                            $currentProfileImage.hide();
                            $newImage = $(img);

                            cropper = $newImage.cropper({
                                viewMode: 1,
                                aspectRatio: 16 / 9,
                                preview: '.preview',
                                autoCrop: true
                            });

                            $photoSelBtn.show();
                            $confirmBtn.show();
                            $photoSelBtnTop.hide();

                        }
                    };
                    reader.readAsDataURL(e.target.files[0]);
                    //base64 인코딩 된 스트링 데이터가 result  속성(attribute)에 담아지게 됩니다.
                }
            }

            $photoSelBtnTop.change(function (e) {
                photoSel(e);
            });

            $photoSelBtn.change(function (e) {
                photoSel(e);
            });

            $confirmBtn.click(function () {
                let canvas2 = $newImage.cropper("getCroppedCanvas", {minWidth: 500, maxWidth: 900});
                let dataUrl = canvas2.toDataURL("image/jpg");

                let newImage = document.createElement("img");
                newImage.id = "cropped-new-profile-image";
                newImage.src = dataUrl;

                $resultImage.html(newImage);
                $resultImage.show();
                $newProfileImage.hide();

                $confirmBtn.hide();
                $photoSelBtn.hide();
                $photoSelBtnTop.show();

                $profileImage.val(dataUrl);
            });
        });
    </script>
</div>
</html>