<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content">
    <link href="http://hayageek.github.io/jQuery-Upload-File/4.0.11/uploadfile.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://hayageek.github.io/jQuery-Upload-File/4.0.11/jquery.uploadfile.min.js"></script>

    <style>
        #upload-file, #upload-file2 {
            display: none;
        }
        .ajax-upload-dragdrop {
            width:100% !important;
        }
        .ajax-file-upload-statusbar {
            width: 100% !important;
        }
    </style>
    <div id="wrapper">
        <div id="main">
            <article class="post">
                <section>
                    <h3>GARDEN</h3>
                    <form class="needs-validation" method="post" th:action="@{/regeister}" th:object="${albumForm}" id="albumForm" novalidate>
                        <div class="row gtr-uniform">
                            <div class="col-12">
                                <div id="fileuploader">Upload</div>
                                <input type="hidden" name="attachements" id="attachements"/>
                            </div>
                            <div class="col-12">
                                <textarea name="content" id="content" placeholder="내용"
                                          rows="6"></textarea>
                            </div>
                            <div class="col-12">
                                <ul class="actions">
                                    <li><input id="rgstBtn" value="등록"/></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>
            </article>
        </div>
    </div>

    <script>
        $(document).ready(function()
        {
            var fileuploader =  $("#fileuploader").uploadFile({
                url:"/upload",
                fileName:'uploadFile',
                multiple:true,
                dragDrop:true,
                showDelete: true,
                showPreview:true,
                previewHeight: "100px",
                previewWidth: "100px",
                autoSubmit : false,
                afterUploadAll: function(obj)
                {
                    console.log("afterUploadAll");
                    console.log(obj);
                    var form  = $("#albumForm");
                    var result = new Array();
                    for(var i= 0; i<obj.responses.length; i++){
                        console.log(obj.responses[i]);

                        var att = JSON.parse(obj.responses[i])[0];
                        console.log(att);
                        console.log("path :" + att.path);
                        var tmp =new Object();
                        tmp.path =  att.path;
                        tmp.saveName =  att.saveName;
                        tmp.fileName =  att.fileName;
                        result.push(tmp);
                    }

                    var re = new Object();
                    re.attachements = JSON.stringify(result);
                    $("#attachements").val(JSON.stringify(result));

                    var data3 = form.serializeArray();
                    console.log(data3);

                   $("#albumForm").submit();

                }
            });

            $("#rgstBtn").click(function()
            {
                fileuploader.startUpload();
               // $("#rgstForm").submit();
            });
        });

    </script>
</div>
</html>